ul{
    padding-left: 0;
    border: 3px;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

li{
    display: inline-block;
    position: relative;
    font-family: Verdana;
    text-align: left;
}

li>ul{
    display: none;
}

li>ul li{
    font-weight: bold;
}

li:hover>ul{
    display: block;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;
    color: red;
    font-style: italic;
}

#menu{
    background-color: aquamarine;
    text-align: center;
    word-spacing: 80px;
    letter-spacing: 2px;
}